<!-- <h1>{{id}}</h1> -->
{% extends 'base.html' %}

{% block content %}

    <h3>Top News</h3>
    <ul>
      {% for article_item in article %}
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <img src="{{article_item.image}}" alt="news pic" style="height : 100px; width : 100px;">
          </div>

          <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
            <h4>{{article_item.title}}</h4>
            <p>{{article_item.description}} </p><br>
            <a href="{{article_item.url}}"target="_blank">Read More</a>
            <p>submitted:<i>{{article_item.time}}</i></p>
          </div>

        </div>


      {% endfor %}

{% endblock %}
